_Rarzrabotki/Rarus/USO2/Reports/РегламентированныйОтчетСтатистикаФорма1ТОРГ/Templates/Списки2014Кв1/Ext/Template.xml filter=lfs diff=lfs merge=lfs -text
_Rarzrabotki/Rarus/USO2/Reports/РегламентированныйОтчетСтатистикаФорма1ТОРГ/Templates/Списки2018Кв1/Ext/Template.xml filter=lfs diff=lfs merge=lfs -text
_Rarzrabotki/Rarus/USO2/Reports/РегламентированныйОтчетСтатистикаФорма1ТОРГ/Templates/**/Ext/Template.xml filter=lfs diff=lfs merge=lfs -text
