BASERP_SQL_DSN=DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=BaseERP;UID=sa;PWD=<пароль>;TrustServerCertificate=yes
OLAP_SQL_DSN=DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=OlapFactory;UID=sa;PWD=<пароль>;TrustServerCertificate=yes
BASERP_COM_CONN=Srvr="localhost";Ref="BaseERP";Usr="Администратор";Pwd=<пароль>
LOG_LEVEL=INFO
MAPPING_PATH=mapping/baserp_storage.json
